* {
  font-family: "Courier New", Courier, monospace;
}

body {
  background-image: url('../assets/bgi.jpg');
  background-size: cover;
}

.main {
  width: 80%;
  margin: 85px 85px 50px 85px;
  display: flex;
  flex-direction: column;
  gap: 3em;
  background: linear-gradient(to left top, #76451c, #e5c87f, #76451c);
  border: 3px solid black;
  padding-bottom: 100px;
  filter: drop-shadow(5px 5px 5px black);
  color: rgb(63, 37, 8);
}

.main h1 {
  text-align: center;
  font-size: 50px;
}

.main h2 {
  margin: 0;
}

.content-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 50px;
}

.addnew {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.refresher {
  display: flex;
  gap: 15px;
}

.scorelist {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  border: 2px solid black;
  gap: 3px;
  border-radius: 5px;
  background-color: #d4bd82;
}

li:nth-child(even) {
  background-color: rgba(0, 0, 0, 0.15);
}

li p {
  margin: 0;
  padding-left: 10px;
  font-weight: bold;
}

.btn {
  background: linear-gradient(to bottom, #76451c, #e5c87f, #76451c);
  filter: drop-shadow(2px 2px 2px black);
  font-weight: bolder;
  height: 35px;
  color: #000;
}

.btn:hover {
  color: #76451c;
}

.sbmtbtn {
  width: 50%;
  align-self: flex-end;
}

input {
  border: 2px solid black;
  border-radius: 5px;
}

.msg {
  display: none;
  justify-content: space-around;
}

#message {
  display: flex;
  font-size: 15px;
  justify-content: center;
  align-items: center;
  border: 5px solid greenyellow;
  margin: 0;
  font-weight: bold;
  background-color: rgb(14, 168, 14);
  margin-left: 15px;
  height: 50px;
  width: 350px;
}
